apiVersion: 1

contactPoints:
  - orgId: 1
    name: Email Notifications
    receivers:
      - uid: email-contact-point
        type: email
        settings:
          # Email addresses from environment variable ALERT_EMAIL_ADDRESSES
          addresses: cezary.olborski@gmail.com
          singleEmail: false
        disableResolveMessage: false

